@import '../../global.scss';

.about {
   background-color: white;
   display: flex;
   align-items: flex-start;
   justify-content: center;

   .aboutContainer {
      width: 70%;
      margin-top: 50px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      -webkit-box-shadow: 0px 5px 15px 0px rgba(128,128,128,0.45);
      -moz-box-shadow: 0px 5px 15px 0px rgba(128,128,128,0.45);
      box-shadow: 0px 5px 15px 0px rgba(128,128,128,0.45);
      border-radius: 10px;

      @include mobile {
         width: 80%;
      }

      h1 {
         margin: 20px;
         margin-bottom: 10px;

         @include mobile {
            font-size: 23px;
            margin: 10px;
         }
      }

      img {
         background-color: yellow;
         width: 120px;
         height: 120px;
         border-radius: 50%;
         margin: 20px;
         margin-top: 10px;

         @include mobile {
            margin: 6px;
         }
      }

      p {
         font-size: 18px;
         text-align: justify;

         @include mobile {
            font-size: 14px;
         }
      }

      .iconsContainer {
         margin-top: 20px;

         .icon {
            padding: 0 10px;
            color: black;
            width: 40px;
            height: 40px;
         }

         .linkedin {
            color: #0A66C2;
         }
      }
   }
}