@import '../../global.scss';

.portfolioList {
    font-size: 16px;
    margin-right: 50px;
    padding: 7px;
    border-radius: 8px;
    cursor: pointer;

    @include mobile {
        margin: 10px 16px;
    }

    &.active {
        background-color: $mainColor;
        color: white;
    }
}